.t {background: url(../images/dot.gif) 0 0 repeat-x; width: 20em}
.b {background: url(../images/dot.gif) 0 100% repeat-x}
.l {background: url(../images/dot.gif) 0 0 repeat-y}
.r {background: url(../images/dot.gif) 100% 0 repeat-y}
.bl {background: url(../images/bl.gif) 0 100% no-repeat}
.br {background: url(../images/br.gif) 100% 100% no-repeat}
.tl {background: url(../images/tl.gif) 0 0 no-repeat}
.tr {background: url(../images/tr.gif) 100% 0 no-repeat; padding:10px}
p {font-family: sans-serif}
.style1 {font-family: Arial, Helvetica, sans-serif}
.style2 {font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
 div.hr {
  height: 15px;
  background: #fff url(../images/hr.gif) repeat-x scroll center;
}
.style3 {font-weight: bold}
.style4 {
	font-size: 36px;
	font-weight: bold;
	color: #6A92D6;
}
.pointer {
cursor:pointer;
}
div.hr hr {
  display: none;
}
.questions_blue {
  list-style-type:none;
  margin:0;
  }
.questions_blue li {
  font-family:arial, verdana, sans-serif;
  font-size:11px;
  text-decoration:none;
  border : 1px solid #000;
  cursor : move;
  margin : 0px 0 2px 0;
  padding : 0px;
  background : #e6e6fa;
  border : #ccc;
  width : auto;
  }
.questions_red {
  list-style-type:none;
  margin:0;
}
.questions_red li {
  font-family:arial, verdana, sans-serif;
  font-size:11px;
  text-decoration:none;
  border : 1px solid #000;
  cursor : move;
  margin : 0px 0 2px 0;
  padding : 0px;
  background : #FFC1C1;
  border : #ccc;
  width : auto;
  }  
  #questions {
  padding:0;
  margin:0;
  }
#questions li {
  list-style-type:none;
  font-family:arial, verdana, sans-serif;
  font-size:11px;
  text-decoration:none;
  border : 1px solid #000;
  margin : 2px 0 2px 0;
  padding : 3px;
  background : #f7f7f7;
  border : #ccc;
  width : auto;
  }
#questions a, #questions a:visited {
  font-family:arial, verdana, sans-serif;
  font-size:11px;
  text-decoration:none;
  }
.style5 {font-size: 16px}
.style7 {font-weight: bold; font-size: 24px;}
tr.d0 {
  /* background-color:#E2ECFF; */
  background-color:#E2ECFF;
  color:#000000;
 }
 tr.d1 {
  background-color:#EBEBEB;
  color:#000000;
 }
 ul{
list-style-type: none;
padding: 0;
margin-left: 0;
}

.answer1 {
 	font-family:arial, verdana, sans-serif;
}
 
.answer2 {
 	font-family:arial, verdana, sans-serif;
}
 
.answer3 {
 	font-family:arial, verdana, sans-serif;
}
 
.answer4 {
 	font-family:arial, verdana, sans-serif;
}
 
.answer5 {
 	font-family:arial, verdana, sans-serif;
}
 
.answer6 {
 	font-family:arial, verdana, sans-serif;
}

/* alteração do botões  */
.css_btn_class {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #84bbf3;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background:-ms-linear-gradient( top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #79bbff), color-stop(100%, #378de5) );
	background-color:#79bbff;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	box-shadow:inset 1px 1px 0px 0px #bbdaf7;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background:-ms-linear-gradient( top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #378de5), color-stop(100%, #79bbff) );
	background-color:#378de5;
}.css_btn_class:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */

.css_btn_prox {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #268a16;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	background:-ms-linear-gradient( top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77d42a), color-stop(100%, #5cb811) );
	background-color:#77d42a;
	color:#fcfcfc;
	display:inline-block;
	text-shadow:1px 1px 0px #1b3007;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #caefab;
 	-moz-box-shadow:inset 1px 1px 0px 0px #caefab;
 	box-shadow:inset 1px 1px 0px 0px #caefab;
	margin-top: 1.6em;
	float: right;

}.css_btn_prox:hover {
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	background:-ms-linear-gradient( top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5cb811), color-stop(100%, #77d42a) );
	background-color:#5cb811;
	margin-top: 1.6em;
	float: right;
}.css_btn_prox:active {
	position:relative;
	top:1px;
	margin-top: 1.6em;
	float: right;
}

.css_btn_anteior {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #268a16;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	background:-ms-linear-gradient( top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77d42a), color-stop(100%, #5cb811) );
	background-color:#77d42a;
	color:#fcfcfc;
	display:inline-block;
	text-shadow:1px 1px 0px #1b3007;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #caefab;
 	-moz-box-shadow:inset 1px 1px 0px 0px #caefab;
 	box-shadow:inset 1px 1px 0px 0px #caefab;
	
}.css_btn_anteior:hover {
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	background:-ms-linear-gradient( top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5cb811), color-stop(100%, #77d42a) );
	background-color:#5cb811;
	
}.css_btn_anteior:active {
	position:relative;
	top:1px;
	
}
/* This css button was generated by css-button-generator.com */

.css_btn_revisar {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #ffaa22;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
	background-color:#ffec64;
	color:#333333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffee66;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	box-shadow:inset 1px 1px 0px 0px #fff6af;
}.css_btn_revisar:hover {
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
	background-color:#ffab23;
}.css_btn_revisar:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */

.css_btn_encerrar {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d02718;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	background:-ms-linear-gradient( top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #f24537), color-stop(100%, #c62d1f) );
	background-color:#f24537;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #810e05;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	box-shadow:inset 1px 1px 0px 0px #f5978e;
	position: relative;
	left: 50%;

}.css_btn_encerrar:hover {
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	background:-ms-linear-gradient( top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c62d1f), color-stop(100%, #f24537) );
	background-color:#c62d1f;
}.css_btn_encerrar:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com */